#london{
    background-color: cadetblue; color: white; padding: 20px;
}

#nairobi{
    background-color: orange; padding: 20px; color: white
}

#washington{
    background-color: yellow; padding: 20px;
}